body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
}

nav {
  background: #020617;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #38bdf8;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #fff;
}

.container {
  padding: 40px;
  text-align: center;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

button {
  background: #38bdf8;
  border: none;
  padding: 10px 20px;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
